<div>
    <p>Новая тема:</p>
    <form method="post" id="NewTopicForm" action="@Url.Action("CreateTopic", "Home")">
        <input type="text" name="TopicName"/>
        <input type="submit" class="btn btn-success btn-sm" value="Создать" />
    </form>
</div>